<mat-sidenav-container>
  <mat-sidenav opened mode="side">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['page-one']">Prisoner List</a>
      <a mat-list-item [routerLink]="['page-two']">Court Cases</a>
      <a mat-list-item [routerLink]="['page-three']">Prisoner Transfer</a>
      <a mat-list-item [routerLink]="['visitor-page']">Visitor Information</a>
      <a mat-list-item [routerLink]="['parole-page']">Parole Management</a>
      <a mat-list-item [routerLink]="['correctional-programs']">Correctional Programs</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
