<!--<form action="">
  <mat-card>Prisoner List</mat-card>
  <table>
    <tr>
      <td>First Name</td>
      <td colspan="2">
          <mat-form-field>
              <input type="text" matInput>
              <mat-hint>Enter First Name</mat-hint>
          </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td colspan="2">
          <mat-form-field>
              <input type="text" matInput>
              <mat-hint>Enter Last Name</mat-hint>
          </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>Date Of Birth</td>
      <td colspan="4">
          <mat-form-field>
              <input matInput [matDatepicker]="picker">
              <mat-hint>Choose date of birth</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <td><button mat-raised-button color="primary">Submit</button></td>
    </tr>
  </table>
</form>-->
<div class="margin-below-content">
<h2>Prisoner List</h2>
<hr>
  <div class="prisoner-form">
    <h3>Personal Information</h3>
    <form>
    <table>
      <tr>
          <td>First Name</td>
          <td><mat-form-field>
            <input type="text" matInput>
            <mat-hint>Enter First Name</mat-hint>
          </mat-form-field></td>
          <td>Last Name</td>
          <td><mat-form-field>
           <input type="text" matInput>
           <mat-hint>Enter Last Name</mat-hint>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>Date Of Birth</td>
        <td><mat-form-field>
         <input type="text" matInput>
         <mat-hint>Enter Date Of Birth</mat-hint>
        </mat-form-field>
        </td>
        <td>National ID</td>
        <td><mat-form-field>
          <input type="text" matInput>
          <mat-hint>Enter National ID</mat-hint>
        </mat-form-field></td>
      </tr>
      <tr>
        <td>Education</td>
        <td><mat-form-field>
          <mat-select>

          </mat-select>
          <mat-hint>Select Level Of Education</mat-hint>
        </mat-form-field>
        </td>
        <td>Address</td>
        <td><mat-form-field>
          <input type="text" matInput>
          <mat-hint>Enter Address</mat-hint>
        </mat-form-field></td>
      </tr>
    </table>
    </form>
    <hr class="margin-at-bottom-20">
    <h3>Prison Information</h3>
    <form>
      <table>
        <tr>
          <td>Prison Held</td>
          <td><mat-form-field>

            <mat-select formControlName="selectPrison">
              <mat-option></mat-option>
            </mat-select>
            <mat-hint>Select Prison</mat-hint>
          </mat-form-field>
          </td>
          <td>Offence</td>
          <td><mat-form-field>
            <mat-select>

            </mat-select>
            <mat-hint>Select Prisoner Offence</mat-hint>
          </mat-form-field></td>
        </tr>
        <tr>
          <td>File Number</td>
          <td><mat-form-field>
            <input type="text" matInput>
            <mat-hint>Enter File Number</mat-hint>
          </mat-form-field>
          </td>
          <td>Status</td>
          <td><mat-form-field>
            <mat-select>
              
            </mat-select>
            <mat-hint>Select Prisoner Status</mat-hint>
          </mat-form-field>
        </td>
        </tr>
      </table>
    </form>
    <hr class="margin-at-bottom-20">
    <table>
      <tr>
        <td>
          <button mat-raised-button>Save Prisoner</button>
        </td>
      </tr>
    </table>
  </div>
</div>
